container-fluid {
    padding: 0;
}
#header {
    float: right;
    width: 80%;
    height: 65px;
}
#nav {
    overflow-y: overlay;
    overflow-x: hidden;
    width: 20%;
    height: 100vh;
    align-items: stretch !important;
    float: left;
    padding: 0;
    -webkit-box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.75);
}
#nav::-webkit-scrollbar, #content::-webkit-scrollbar, div.modal-body.menu::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}
#nav::-webkit-scrollbar-thumb, #content::-webkit-scrollbar-thumb, div.modal-body.menu::-webkit-scrollbar-thumb {
    border-radius: 10px 0px 0px 10px;
    -moz-border-radius: 10px 0px 0px 10px;
    -webkit-border-radius: 10px 0px 0px 10px;
    border: 0px solid #000000;
    background: -moz-linear-gradient(left, rgba(181,189,200,0) 0%, rgba(130,140,149,0.18) 36%, rgba(40,52,59,0.5) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(181,189,200,0) 0%,rgba(130,140,149,0.18) 36%,rgba(40,52,59,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(181,189,200,0) 0%,rgba(130,140,149,0.18) 36%,rgba(40,52,59,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b5bdc8', endColorstr='#8028343b',GradientType=1 ); /* IE6-9 */
}
#content {
    overflow-y: overlay;
    overflow-x: hidden;
    height: calc(100vh - 65px);
    width: 80%;
    float: right;
}
button[name="collapser"]:focus {
    outline: none !important;
}
.dropdown-menu.main {
    top: 50px;
    left: -55px;
    text-align: left;
}
.dropdown-menu.main i {
    padding-left: 10px
}
.inner-shadow {
    -webkit-box-shadow:
        inset 0 10px 10px -10px #aaaaaa,
        inset 0 -10px 10px -10px #aaaaaa;
    -moz-box-shadow:
        inset 0 10px 10px -10px #aaaaaa,
        inset 0 -10px 10px -10px #aaaaaa;
    box-shadow:
        inset 0 10px 10px -10px #aaaaaa,
        inset 0 -10px 10px -10px #aaaaaa;
}
.inner-shadow:hover {
    -webkit-box-shadow:
        inset 0 30px 30px -30px #aaaaaa,
        inset 0 -30px 30px -30px #aaaaaa;
    -moz-box-shadow:
        inset 0 30px 30px -30px #aaaaaa,
        inset 0 -30px 30px -30px #aaaaaa;
    box-shadow:
        inset 0 30px 30px -30px #aaaaaa,
        inset 0 -30px 30px -30px #aaaaaa;
}
.inner-shadow:active, .inner-shadow:checked {
    color: black;
    background: inherit;
    -webkit-box-shadow:
        inset 0 50px 50px -50px #aaaaaa,
        inset 0 -50px 50px -50px #aaaaaa;
    -moz-box-shadow:
        inset 0 50px 50px -50px #aaaaaa,
        inset 0 -50px 50px -50px #aaaaaa;
    box-shadow:
        inset 0 50px 50px -50px #aaaaaa,
        inset 0 -50px 50px -50px #aaaaaa;
}
.inner-shadow.active{
    border: 0;
    color: black;
    background: inherit;
    -webkit-box-shadow:
        inset 0 50px 50px -50px #aaaaaa,
        inset 0 -50px 50px -50px #aaaaaa;
    -moz-box-shadow:
        inset 0 50px 50px -50px #aaaaaa,
        inset 0 -50px 50px -50px #aaaaaa;
    box-shadow:
        inset 0 50px 50px -50px #aaaaaa,
        inset 0 -50px 50px -50px #aaaaaa;
}
.dropdown-user {
    color: black;
}
a.nav-link.dropdown-toggle.dropdown-user {
    color: black;
    background-color: transparent;
}
.single-form {
    margin-top: 50px;
    margin-bottom: 50px;
    background: #f8f9fa;
    border-radius: 50px 50px 50px 50px;
    -moz-border-radius: 50px 50px 50px 50px;
    -webkit-border-radius: 50px 50px 50px 50px;
    border: 0px solid #000000;
    -webkit-box-shadow: 0px 0px 53px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 53px 6px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 53px 6px rgba(0,0,0,0.75);
    padding: 50px;
}
label.is-invalid {
    font-weight: bolder;
    box-sizing: border-box;
    font-size: 80%;
    color: #dc3545;
}
.drop-items {
    display: inline-block;
    width: calc(50% - 43px);
    height: 400px;
    border-radius: 0;
    margin: 0 20px 0 20px;
}
.scrollable {
    overflow-x: hidden;
    overflow-y: overlay;
    height: 75%;
}
.scrollable::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}
.scrollable::-webkit-scrollbar-thumb {
    border-radius: 10px 0px 0px 10px;
    -moz-border-radius: 10px 0px 0px 10px;
    -webkit-border-radius: 10px 0px 0px 10px;
    border: 0px solid #000000;
    background: -moz-linear-gradient(left, rgba(181,189,200,0) 0%, rgba(130,140,149,0.18) 36%, rgba(40,52,59,0.5) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(181,189,200,0) 0%,rgba(130,140,149,0.18) 36%,rgba(40,52,59,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(181,189,200,0) 0%,rgba(130,140,149,0.18) 36%,rgba(40,52,59,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b5bdc8', endColorstr='#8028343b',GradientType=1 ); /* IE6-9 */
}
.fixed {
    padding: 10px;
}
.drop-down-container {
    padding: 0;
}
.droptrue {
    padding: 0;
    height: 94%;
}
.error-drop {
    -webkit-box-shadow: 0px 0px 53px 6px red;
    -moz-box-shadow: 0px 0px 53px 6px red;
    box-shadow: 0px 0px 53px 6px red;
}
#search-results {
    position: fixed;
    z-index: 2000;
    top: 5.5%;
    left: 50.9%;
    width: 47.45%;
    max-height: 400px;
    padding: 0 10px 0 10px ;
    border:1px solid black;
    overflow-x: hidden;
    overflow-y: overlay;
    background: white;
    display: none;
}
#search-results::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}
#search-results::-webkit-scrollbar-thumb {
    border-radius: 10px 0px 0px 10px;
    -moz-border-radius: 10px 0px 0px 10px;
    -webkit-border-radius: 10px 0px 0px 10px;
    border: 0px solid #000000;
    background: -moz-linear-gradient(left, rgba(181,189,200,0) 0%, rgba(130,140,149,0.18) 36%, rgba(40,52,59,0.5) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(181,189,200,0) 0%,rgba(130,140,149,0.18) 36%,rgba(40,52,59,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(181,189,200,0) 0%,rgba(130,140,149,0.18) 36%,rgba(40,52,59,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b5bdc8', endColorstr='#8028343b',GradientType=1 ); /* IE6-9 */
}
.search-item {
    border:1px solid black;
    width: 100%;
    height: 120px;
    margin: 10px 0 10px 0;
}
.search-item-image {
    display: inline-block;
    width: 30%;
    height: 100%;
    margin-right: 10px;
    float: left
}
.search-item-text {
    width: calc(70% - 10px);
    height:100%;
    float: right;
    padding: 25px;
}
.search-item-text p {
    margin-bottom: 5px;
}
.search-result a {
    color: black;
    text-decoration: none;
}
.card-a, .card-a:hover {
    color: #000;
    text-decoration: none;
}
.dish-description {
    line-height: 1.25rem;
    max-height: calc(1.25rem * 11);
    overflow: hidden;
}
#user-side-link {
    color: white;
    position: absolute;
    left: 100px;
}
.pushme {
    position: relative;
    font-weight: 700;
    border-radius: 0.6em;
    display: inline-block;
}
.pushme .inner {
    display: inline-block;
    border-radius: 0.6em;
    padding: 3px 8px 3px 8px;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transform: translate3d(0.2em, -0.2em, 0);
    transform: translate3d(0.2em, -0.2em, 0);
    transition: -webkit-transform 240ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 240ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.pushme.white {
    background-color: #212529;
}
.pushme.white .inner.white {
    background-color: white;
    border: 0.3em solid #212529;
}
.pushme.red {
    background-color: #fe6767;
}
.pushme.red .inner.red {
    background-color: #fe7575;
    border: 0.3em solid #fe6767;
}
.pushme:active .inner, .pushme.click .inner {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition:
            transform 120ms cubic-bezier(0.23, 1, 0.32, 1),
            -webkit-transform 120ms cubic-bezier(0.23, 1, 0.32, 1);
}
.arrow-right {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,000000+100&0.3+0,0+100;Black+3D+%231 */
    background: -moz-linear-gradient(left, rgba(69,72,77,0.3) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(69,72,77,0.3) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(69,72,77,0.3) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d45484d', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}
.arrow-left {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,000000+100&0.3+0,0+100;Black+3D+%231 */
    background: -moz-linear-gradient(right, rgba(69,72,77,0.3) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(right, rgba(69,72,77,0.3) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to left, rgba(69,72,77,0.3) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d45484d', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}
.cart-container {
    height: 100%;
    padding: 0;
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border: 1px solid #000000;
}
.cart-container-header {
    background: #efefef;
    height:78px;
    border-radius: 20px 20px 0px 0px;
    -moz-border-radius: 20px 20px 0px 0px;
    -webkit-border-radius: 20px 20px 0px 0px;
    border: 0 solid #000000;
    padding-top:23px;
    margin: 0;
}
.cart-container-content {
    background: #f7f7f7;
    overflow-x: overlay;
    height: calc(100% - 328px);
}
.cart-container-footer {
    background: #efefef;
    height:250px; border-radius: 0px 0px 20px 20px;
    -moz-border-radius: 0px 0px 20px 20px;
    -webkit-border-radius: 0px 0px 20px 20px;
    border: 0 solid #000000;
    padding-top:23px;
    margin: 0
}
.cart-container-content p {
    font-size:20px;
    display:table-cell;
    vertical-align:middle;
}
.cart-container-content div.table {
    display:table;
    width:100%;
    height: 100%;
}